footer {
    font-family: 'Tektur', serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkblue;
    color: white;
    text-align: center;
    border-top: 4px solid black ;
  }

  .footer-nav a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin: 0 15px;
    
  }

  .social-media a {
    color:white;
    margin: 0 15px;
  }