.nav {
  display: flex;
  justify-content: flex-end;
  padding: 35px;
  background-color: darkblue;
  border-bottom: 4px solid black;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  font-family: 'Tektur', serif;

}

.nav-item a:hover {
  color: blue;
}
