body, html {
    margin: 0;
    height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1 {
    text-align: center;
    font-size: 3.0em;
    padding-bottom: 25px;
}

h1,
h2,
h3,
p {
  font-family: "Playfair Display", serif;
}

.small-about {
    text-align: center;
    padding-top: 25px;
    padding-right: 10px;
    font-size: 25px;
}

.Moon-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eclipse-1 {
    background-color: grey;
    margin-top: -400px;
    width: 400px;
    height: 200px;
    position: absolute;
    z-index: -2;
    border: 10px black solid;
    
}
